/* Sets all the text color to red! */
/* body {
    color: red;
} */

.block-language-math mjx-container.MathJax {
    text-align: left !important;
}

.math-copy-button {
    margin-right: 35px;
    /* font-size: 12px; */
    width: 26px;
    height: 26px;
    padding: 5px;
    position: absolute;
    top: 6px;
    right: 5px;
    display: flex;
    /* opacity: 0; */
    /* transition: opacity 500ms; */
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.block-language-math svg.block-button{
    display: block;
    width: 16px;
    fill: var(--text-on-accent);
    background: var(--interactive-accent);
}

/* Canvas */

.excalidraw-canvas {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.button-wrapper button {
  z-index: 1;
  height: 40px;
  max-width: 200px;
  margin: 10px;
  padding: 5px;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-wrapper {
  height: 100%;
  /* // margin: 50px; */
  padding: 0;
  margin: 0;
}

.excalidraw.excalidraw-container.excalidraw--mobile.theme--dark {
  background: #fff0 !important;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}

.excalidraw .panelColumn {
  text-align: left;
}

.export-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px;

  /* &__checkbox {
    display: flex;
  } */
}
/* Hide UI */
.App-bottom-bar.App-bottom-bar.App-bottom-bar {
    display: none;
}

/* Style UI */
.App-toolbar-container.App-toolbar-container.App-toolbar-container > * {
    display: none;
}
.App-toolbar label[title="Diamond — D or 3"], .App-toolbar label[title="Ellipse — E or 4"], .App-toolbar label[title="Line — P or 6"], .App-toolbar label[title="Insert image — 9"] {
    display: none;
}
.App-toolbar-container .Island.App-toolbar {
    display: block;
    background: transparent;
    padding: 0;
    box-shadow: none;
    opacity: 0;
    transition: opacity 300ms;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.block-language-math:hover .App-toolbar-container .Island.App-toolbar {
    opacity: 1;
}

.App-toolbar .Stack.Stack_horizontal {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-right: none;
    background-color: none;
    padding: 10px;
    padding-right: 5px;
    border-radius: 10px 0 0 10px;
    /* position: absolute; */
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.excalidraw section {
    position: absolute;
    right: 0;
}

/* My UI */
.math-button-group {
    /* background-color: #2a2a2a; */
    border: 2px solid #333;
    border-right: none;
    /* width: 100px; */
    /* height: 200px; */
    padding: 10px;
    padding-right: 5px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding-bottom: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.block-language-math:hover > .math-button-group {
    opacity: 1;
}

.math-excalidraw-button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    margin-bottom: 10px;
}

.math-excalidraw-button.selected-button {
    background-color: #2b2b2b;
}

.math-excalidraw-button.selected-button:hover {
    background-color: #2f2f2f;
}

.math-excalidraw-button:hover {
    background-color: #3c3c3c;
}

.math-excalidraw-icon {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: space-around;
}

.math-excalidraw-icon svg {
    height: 16px;
    fill: #fff;
}

/* Vars */
.excalidraw {
  --color-primary: #faa2c1;
  --color-primary-darker: #f783ac;
  --color-primary-darkest: #e64980;
  --color-primary-light: #fcc2d7;
  --color-primary-chubb: #faa2c1;
}
